@import '../../styles/theme';

.imageGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  gap: 30px;
}

.description {
  min-width: 150px;
  flex: 1;
  height: 100%;
  // position: sticky;
  top: 1rem;
}

@media (min-width: 470px) {
  .description {
    position: sticky;
  }
}

.button {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background: $color-primary-light;
  color: white;
  font-family: $sans-font-family;
  font-weight: 600;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.2),
    inset 1px 1px 0px rgba(255, 255, 255, 0.2);
  width: 60%;
  margin: 20px auto;
}

.images {
  min-width: 250px;
  flex: 2;
  img {
    width: 100%;
    height: auto;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
  }
}
