@import '../../styles/theme';
@import '../../styles/breakpoints';

.imageGallery {
  display: flex;
  flex-direction: column;
  // margin-bottom: 1rem;
}

.description {
  min-width: 150px;
  height: 100%;
}

.images {
  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

@media (min-width: $bp-medium) {
  .imageGallery {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .rightLayout {
    flex-direction: row-reverse;
  }
  .description {
    position: sticky;
    top: 6rem;
    flex: 1;
  }
  .images {
    flex: 2;
  }
}
