@import '../../styles/theme';
@import '../../styles/breakpoints';

.siteWrapper {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}

.footer {
  margin-top: auto;
}
