@import '../../styles/theme';

$this-color-primary: $color-primary;

.richText {
  ul {
    li {
      &::before {
        content: '•';
        margin-right: 8px;
        margin-left: 3px;
      }
    }
  }
}
