@import 'mixins';

$color-primary: blue;
$color-primary-light: skyblue;
$color-primary-dark: darkblue;

$secondary-color: orange;
$black: #222;

$sans-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$serif-font-family: 'Georgia', serif;
$mono-font-family: monospace;

$layout-narrow: 769px;
$layout-wide: 992px;
