@import './theme';

html {
  font-size: 16px;
}

h1,
h2,
h3,
p,
ul,
ol,
pre {
  margin-bottom: 0.5em;
  &:not(pre) {
    font-family: $sans-font-family;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0px 0rem;
}

h2 {
  padding: 1rem 0px 0rem;
  font-size: 1.9rem;
  font-weight: 900;
}

h3 {
  padding: 0.7rem 0px 0rem;
  font-size: 1.5rem;
  font-weight: 800;
}

pre {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
li {
  line-height: 1.3em;
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 2rem;
  a {
    box-shadow: inset 0px -0.6rem 0px 0px rgba(255, 248, 144, 0.5);
    transition: box-shadow 0.2s;
    &:hover {
      box-shadow: inset 0px -0.6rem 0px 0px rgba(255, 248, 144, 0.9);
    }
  }
}

ul {
  li:before {
    content: '•';
    display: inline-block;
    width: 2px;
    margin-left: -12px;
    margin-right: 10px;
  }
  li {
    margin-left: 12px;
    margin-bottom: 0.4rem;
    line-height: 1.2rem;
  }
}
